.hero {
    &__btn{
        transition : all 600ms;
        cursor: pointer;
    &:active{
        filter : brightness(1.10);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
    }
    }
}

@media (min-width : 1020px) {
    .hero {
    &__btn {
    &:hover{
        filter : brightness(1.10);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
    }
    &:active{
        filter : none;
    }
    }
}
}
