/*Mise en page du coeur*/
.restaurant__like {
  position : relative;
  &__switch{
    display : inline-block;
  }
  &--empty {
      width : 29px;
      height : 80px;
      transition : opacity 600ms ease;
      position : absolute;
      top : -40px;
      left : -30px;
      cursor: pointer;
  }
  &--full {
      width : 29px;
      height : 80px;
      transition : opacity 600ms ease;
      position : absolute;
      top : -40px;
      left : -30px;
      cursor: pointer;
  }
}

.restaurant__like:hover .restaurant__like--full {
  opacity: 1;
}

.restaurant__like .restaurant__like--full {
  opacity: 0;
}