/* Réaliser un Media query pour les élements mobile et utiliser l'animation présente pour le media query de 800px*/
.card {
  transition : transform 300ms ease;
z-index: 1;
position : relative;

&:hover .card__check {
    transform: translateX(0);
    opacity : 1;
}

&:hover .card__name {
        animation : reduction 600ms both;
}
}

.card__check {
  position : absolute;
  right : 0px;
  width : 50px;
    height : 70px;
    background-color : #99E2D0;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-right-radius : 15px;
    border-bottom-right-radius : 15px;
  transform : translateX(100%);
  opacity : 0;
  transition : all 600ms ease;
  z-index : 2;
}

.card__content__price {
  z-index : 2;
  right : 20px;
  bottom : 20px;
}

.card__name {
    animation : inverse 600ms both;
  }

@keyframes reduction {
  0% {width: 100%;}
  100% {width : 75%}
}

@keyframes inverse {
  0% {width: 75%;}
  100% {width : 100%}
}
  