/***** Entrees *****/
.card {
    &__1 {
        animation : card_Apparition both ease-in-out ;
        animation-duration : 2s;
        animation-delay : 100ms;
    }
    &__2 {
        animation : card_Apparition both ease-in-out;
        animation-delay : 600ms;
        animation-duration : 2s;
    }
    &__3 {
        animation : card_Apparition both ease-in-out;
        animation-delay : 1200ms;
        animation-duration : 2s;
    }

    &__4{
        animation : card_Apparition both ease-in-out;
        animation-delay : 1800ms;
        animation-duration : 2s;
    }
}

/***** Plats *****/
.card {
    &__4 {
        animation : card_Apparition both ease-in-out;
        animation-delay : 2100ms;
        animation-duration : 2s;
    }
    &__5 {
        animation : card_Apparition both ease-in-out;
        animation-delay : 2600ms;
        animation-duration : 2s;
    }
    &__6 {
        animation : card_Apparition both ease-in-out;
        animation-delay : 3200ms;
        animation-duration : 2s;
    }
}

/***** Dessert *****/
.card {
    &__7 {
        animation : card_Apparition both ease-in-out;
        animation-delay : 4100ms;
        animation-duration : 2s;    
    }
    &__8 {
        animation : card_Apparition both ease-in-out;
        animation-delay : 4600ms;
        animation-duration : 2s;
    }
    &__9 {
        animation : card_Apparition both ease-in-out;
        animation-delay : 5200ms;
        animation-duration : 2s;
    }
}

@keyframes card_Apparition {
    0% {
        opacity : 0%;
    }
    100% {
        opacity : 100%;
    }
}