.restaurant__like {
    position : relative;
    &__switch{
      display : inline-block;
    }
    &--empty {
        width : 29px;
        height : 80px;
        transition : opacity 600ms ease;
        position : absolute;
        top : -30px;
        left : -30px;
        cursor: pointer;
    }
    &--full {
        width : 29px;
        height : 80px;
        transition : opacity 600ms ease;
        position : absolute;
        top : -30px;
        left : -30px;
        cursor: pointer;
    }
  }
  
  input:checked ~ .restaurant__like--full {
    opacity: 1;
  }
  
  input:not(:checked) ~ .restaurant__like--full {
    opacity: 0;
  }


@media (min-width:  800px) {
.restaurant__like {
    position : relative;
    &__switch{
      display : inline-block;
    }
    &--empty {
        width : 29px;
        height : 80px;
        transition : opacity 600ms ease;
        position : absolute;
        top : -30px;
        right : -30px;
        left : 0;
        cursor: pointer;
    }
    &--full {
        width : 29px;
        height : 80px;
        transition : opacity 600ms ease;
        position : absolute;
        top : -30px;
        right : -30px;
        left : 0;
        cursor: pointer;
    }
  }
  
  input:checked ~ .restaurant__like--full {
    opacity: 1;
  }
  
  input:not(:checked) ~ .restaurant__like--full {
    opacity: 0;
  }
}