/***** Variables *****/
/***** Colors *****/
/***** Fonts *****/
/***** General *****/
* {
  margin: 0;
  font-family: Roboto;
}

body {
  background-color: #F6F6F6;
}

.section__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 26px;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

a {
  color: #000;
  text-decoration: none;
}

/***** Animations *****/
.hero__btn {
  transition: all 600ms;
  cursor: pointer;
}
.hero__btn:hover {
  filter: brightness(1.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
}

.restaurant__like__wrapper {
  cursor: pointer;
  display: inline-block;
}
.restaurant__like__heart {
  width: 29px;
  height: 80px;
}
.restaurant__like__heart__shape {
  fill: white;
  transition: all 600ms ease;
}
input:checked + .restaurant__like__heart .restaurant__like__heart__shape {
  fill: url(#heartGradient);
  stroke: url(#heartGradient);
  animation: heartcolor 1s backwards;
}

@keyframes heartcolor {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #F6F6F6;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  animation: hidde-loader 3s forwards;
  animation-delay: 3s;
}
.loader__circle--1 {
  position: absolute;
  border: 4px solid #9356DC;
  border-left-color: transparent;
  border-bottom: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  animation: spin 3s cubic-bezier(0.42, 0.61, 0.58, 0.41);
}
.loader__circle--2 {
  position: absolute;
  border: 4px solid #FF79DA;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border-right: 0;
  border-top-color: transparent;
  animation: spin-reverse 3s cubic-bezier(0.42, 0.61, 0.58, 0.41);
}
.loader__circle--3 {
  position: absolute;
  border: 4px solid #99E2D0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border-right: 0;
  border-top-color: transparent;
  animation: spin 3s cubic-bezier(0.42, 0.61, 0.58, 0.41);
}

/*Les keyframes*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes hidde-loader {
  0% {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    transform: scaleY(1);
    z-index: 9999;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scaleY(-9999px);
    z-index: -1;
    height: 0px;
  }
}
/***** Header *****/
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 13.5px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.header__logo {
  height: 36px;
  width: 100%;
}

/***** Location *****/
.location {
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 15.5px 0;
  margin-top: 4px;
}
.location__picto {
  height: 16px;
  width: 12px;
  padding-right: 15px;
}
.location__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #353535;
}

/***** Hero *****/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 39px 26px 57px 27px;
}
.hero__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}
.hero__text {
  color: #353535;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  margin-bottom: 27px;
}
.hero__btn {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #FFF;
  text-align: center;
  padding: 15.5px 23px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

/***** Functioning *****/
.function {
  background-color: #FFF;
  padding: 48px 20px 68px 25px;
}
.function__card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  position: relative;
}
.function__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 72px;
  width: 95%;
  border-radius: 25px;
  background-color: #F6F6F6;
  padding-left: 35px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
.function__picto {
  height: 20px;
  width: 13px;
  padding-right: 20px;
}
.function__nmb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14.5px;
  font-weight: 500;
  color: #FFF;
  background-color: #9356DC;
  border-radius: 25px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -10px;
}

/***** Restaurants *****/
.restaurants {
  padding: 54px 18px 48px 18px;
}
.restaurants__cards--direction {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  width: 90%;
}
.restaurants__cards--direction__link {
  width: 100%;
}

/***** Restaurants cards : content *****/
.restaurant__card {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  width: 100%;
}
.restaurant__card__image__container {
  position: relative;
  width: 100%;
}
.restaurant__card__image {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 200px;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant__card__new {
  color: #008766;
  background-color: #99E2D0;
  width: 80px;
  height: 29px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  right: 15px;
  top: 15px;
  z-index: 1;
  position: absolute;
}
.restaurant__card__new--hidden {
  visibility: hidden;
}
.restaurant__card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 25px 12px 13px;
  background-color: #FFF;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.restaurant__card__title {
  font-size: 18px;
  font-weight: 700;
}
.restaurant__card__text {
  font-size: 17px;
  font-weight: 300;
  margin-top: 5px;
}

/***** Footer *****/
.footer {
  background-color: #353535;
  padding: 22px 25px;
}
.footer__logo {
  height: 27px;
  margin-bottom: 16px;
}
.footer__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__box__link {
  color: #FFF;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 7px;
}
.footer__box__link__picto {
  margin-right: 10px;
  height: 13px;
}

/***** Responsive *****/
/***** Devices : Tablet *****/
@media (min-width: 800px) {
  .section__title {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  /***** Restaurants *****/
  .restaurant__cards--direction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .restaurant__cards--direction__link {
    width: 49%;
  }
  /***** Footer *****/
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .footer__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
  }
  .footer__box--tablet-desktop {
    display: flex;
    flex-direction: row;
  }
  .footer__box__link {
    padding: 0 10px;
  }
  .footer__box__picto {
    margin-right: 5px;
  }
}
/***** Devices : Desktop *****/
@media (min-width: 800px) {
  /***** Header *****/
  .header {
    padding: 30px 0;
  }
  .header__logo {
    height: 34px;
  }
}/*# sourceMappingURL=index.css.map */