   /***** Variables *****/
      /***** Colors *****/
      $light-gray : #EAEAEA;
      $gray : #353535;
      $background-color : #F6F6F6;
      $white : #FFF;
      $primary : #9356DC;
      $pink : #FF79DA;
      $black : #000;
      $green : #99E2D0;
      $green-font : #008766;
      $degrade : linear-gradient($pink , $primary);
      
      
          /***** Fonts *****/
      $text-font-size : 16px;
      $title-font-size : 24px;
      $hero-text-font-size : 18px;
      $card-title-font-size : 18px;
      $card-text-font-size : 17px;
      
      $text-font-style : normal;
      $title-font-style : normal;
      $hero-text-font-style : normal;
      
      $text-font-weight : 500;
      $title-font-weight : 700;
      $hero-text-font-weight : 300;
      $card-title-font-weight : 700;
      $card-text-font-weight : 300;