   /***** Variables *****/
      /***** Colors *****/
      $light-gray : #EAEAEA;
      $gray : #353535;
      $background-color : #F6F6F6;
      $white : #FFF;
      $primary : #9356DC;
      $pink : #FF79DA;
      $black : #000;
      $green : #99E2D0;
      $green-font : #008766;
      $degrade : linear-gradient($pink , $primary);
      
      
          /***** Fonts *****/
      $text-font-size : 16px;
      $title-font-size : 24px;
      $hero-text-font-size : 18px;
      $card-title-font-size : 18px;
      $card-text-font-size : 17px;
      
      $text-font-style : normal;
      $title-font-style : normal;
      $hero-text-font-style : normal;
      
      $text-font-weight : 500;
      $title-font-weight : 700;
      $hero-text-font-weight : 300;
      $card-title-font-weight : 700;
      $card-text-font-weight : 300;

/***** General *****/
  * {
    margin : 0;
    font-family : Roboto;
  }

  body {
    background-color: $background-color;
  }
  
  .section__title {
          font-size : $title-font-size;
          font-style : $title-font-style;
          font-weight: $title-font-weight;
          margin-bottom : 26px;
      }
  
  p {
    font-size : $text-font-size;
    font-style : $text-font-style;
    font-weight : $text-font-weight;
  }
  
  a{
    color : $black;
    text-decoration : none;
  }


/***** Header *****/
.header {
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding : 13.5px 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

        &__logo {
            height : 36px;
            width: 100%;
        }
}