 /***** Variables *****/
      /***** Colors *****/
      $light-gray : #EAEAEA;
      $gray : #353535;
      $background-color : #F6F6F6;
      $white : #FFF;
      $primary : #9356DC;
      $pink : #FF79DA;
      $black : #000;
      $green : #99E2D0;
      $green-font : #008766;
      $degrade : linear-gradient($pink , $primary);
      
      
          /***** Fonts *****/
      $text-font-size : 16px;
      $title-font-size : 24px;
      $hero-text-font-size : 18px;
      $card-title-font-size : 18px;
      $card-text-font-size : 17px;
      
      $text-font-style : normal;
      $title-font-style : normal;
      $hero-text-font-style : normal;
      
      $text-font-weight : 500;
      $title-font-weight : 700;
      $hero-text-font-weight : 300;
      $card-title-font-weight : 700;
      $card-text-font-weight : 300;

/***** General *****/
 * {
    margin : 0;
    font-family : Roboto;
  }
  body {
    background-color: $background-color;
  }
  
  
  
  .section_title {
          font-size : $title-font-size;
          font-style : $title-font-style;
          font-weight: $title-font-weight;
      }
  
  p {
    font-size : $text-font-size;
    font-style : $text-font-style;
    font-weight : $text-font-weight;
  }
  
  a{
    color : $black;
    text-decoration : none;
  }

  /***** Animations *****/
  @import '../../sass/menu-cards';

/***** Header *****/
.header {
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding : 14px 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

        &__logo {
            height : 36px;
            width: 100%;
        }

        &__link {
            margin-left : 17px;
        }
}

/***** Hero *****/
.hero {
    position : relative;
  
      &__image {
        height : 275px;
        width: 100%;
        display : block;
        object-fit: cover;
      }
  }
/***** Menu *****/
.menu {
    border-top-right-radius: 30px;
    border-top-left-radius : 30px;
    position : relative;
    top : -32px;
    z-index : 1;
    background-color : $background-color;
  
    &__header {
      display : flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding : 32px 41px 42px 17px;
    }
  
    &__title {
      font-family : Shrikhand;
      font-size : 28px;
      font-weight : 400;
    }
  }

  /***** Menu : Sections *****/
.menu__card {
    display : flex;
    flex-direction : column;
    padding : 0px 13px 40px 13px;
  }
  
  .entree {
    &__title {
      font-size : 16px;
      font-weight : 300;
      padding-bottom : 8px;
      width: 40px;
      border-bottom : 3px solid #99E2D0;
    }
  }
  
  .plats {
    &__title {
      font-size : 16px;
      font-weight : 300;
      padding-bottom :8px;
      width: 40px;
      border-bottom : 3px solid #99E2D0;
    }
  }

  .desserts {
    &__title {
      font-size : 16px;
      font-weight : 300;
      padding-bottom :8px;
      width: 40px;
      border-bottom : 3px solid #99E2D0;
    }
  }
  
  /***** Menu : Cards *****/
  .card {
    background-color: $white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.10);
    border-radius : 15px;
    margin-top : 12px;
    display : flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    height : 70px;
    cursor: pointer;
  
    &__name {
      padding : 12px 15px 0 15px;
      width: 100%;
    }
  
    &__title {
      font-size : 18px;
      font-weight : 700;
      text-overflow: ellipsis;
        white-space : nowrap;
        overflow : hidden;
  
    }
  
    &__content {
      display : flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding : 5px 0px 12px 0px;
  
      &__text {
        font-size : 15px;
        font-weight: 300;
        width: 80%;
        text-overflow: ellipsis;
        white-space : nowrap;
        overflow : hidden;
      }
  
      &__price {
        font-weight: 700;
      }
    }
  }

  /***** Order Button *****/
.order{
    display : flex;
    flex-direction :row;
    align-items: center;
    justify-content: center;
    margin : 0 0 40px 0;
  
    &__button {
      font-size: $text-font-size;
      font-style: $text-font-style;
      font-weight: $text-font-weight;
      color : $white;
      text-align : center;
      padding : 15.5px 23px;
      border : none;
      border-radius: 25px;
      background: linear-gradient($pink, $primary);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    }
  }

/***** Footer *****/
.footer {
    background-color: $gray;
    padding : 22px 25px;
  
    &__logo {
      height : 27px;
      margin-bottom: 16px;
    }
    
    &__box {
      display : flex;
      flex-direction: column;
      justify-content: space-between;
  
      &__link {
        color : $white;
        font-size: 15px;
        font-weight: $text-font-weight;
        padding-bottom : 7px;

        &__picto {
            margin-right : 10px;
            height : 13px;
          }
      }
      
    }
  }

/***** Responsive *****/

  /***** Devices : Tablet *****/
  @media (min-width : 800px) {
    /*body*/
  body {
    background-color: $white;
  }

  main {
    display : flex;
    flex-direction: column;
    align-items: center;
  }

  /*hero*/
  .hero{ 
    width : 100%;

    &__image {
        width: 100%;
      }
    }

    /*Menu*/
   .menu {
    top : -40px;
    width: 70%;
    padding : 0 50px;

    &__header {
      justify-content: center;
    }

    &__title {
      padding-right : 30px;
    }
   }

   /***** Footer *****/
  .footer {
    display : flex;
    flex-direction: row-reverse;
    align-items: center;

    &__logo {
      height : 27px;
    }

    &__box {
      display : flex;
      flex-direction :row;
      align-items: center;
      justify-content: space-between;
      padding-right : 50px;

      &--tablet-desktop {
        display: flex;
        flex-direction: row;
      }

      &__link {
        padding : 0 10px;

      }

      &__picto {
        margin-right : 5px;
      }
    }
  }
  }

/***** Devices : Large screen *****/
@media (min-width : 1440px) {
    /*Menu*/
  .menu {
    padding : 50px 190px 0px 190px;

    &__header {
      padding-bottom : 40px;
    }
  }

  .order__button {
    width : 186px;
    height: 50px;
  }
}