/***** Variables *****/
/***** Colors *****/
/***** Fonts *****/
/***** General *****/
* {
  margin: 0;
  font-family: Roboto;
}

body {
  background-color: #F6F6F6;
}

.section_title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

a {
  color: #000;
  text-decoration: none;
}

/***** Header *****/
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 14px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.header__logo {
  height: 36px;
  width: 100%;
}
.header__link {
  margin-left: 17px;
}

/***** Hero *****/
.hero {
  position: relative;
}
.hero__image {
  height: 275px;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

/***** Menu *****/
.menu {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  position: relative;
  top: -32px;
  z-index: 1;
  background-color: #F6F6F6;
}
.menu__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 41px 42px 17px;
}
.menu__title {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
}

/***** Menu : Sections *****/
.menu__card {
  display: flex;
  flex-direction: column;
  padding: 0px 13px 40px 13px;
}

.entree__title {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 8px;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}

.plats__title {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 8px;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}

.desserts__title {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 8px;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}

/***** Menu : Cards *****/
.card {
  background-color: #FFF;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  height: 70px;
  cursor: pointer;
}
.card__name {
  padding: 12px 15px 0 15px;
  width: 100%;
}
.card__title {
  font-size: 18px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0px 12px 0px;
}
.card__content__text {
  font-size: 15px;
  font-weight: 300;
  width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__content__price {
  font-weight: 700;
}

/***** Order Button *****/
.order {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0 40px 0;
}
.order__button {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #FFF;
  text-align: center;
  padding: 15.5px 23px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

/***** Footer *****/
.footer {
  background-color: #353535;
  padding: 22px 25px;
}
.footer__logo {
  height: 27px;
  margin-bottom: 16px;
}
.footer__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__box__link {
  color: #FFF;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 7px;
}
.footer__box__link__picto {
  margin-right: 10px;
  height: 13px;
}

/***** Responsive *****/
/***** Devices : Tablet *****/
@media (min-width: 800px) {
  /*body*/
  body {
    background-color: #FFF;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /*hero*/
  .hero {
    width: 100%;
  }
  .hero__image {
    width: 100%;
  }
  /*Menu*/
  .menu {
    top: -40px;
    width: 70%;
    padding: 0 50px;
  }
  .menu__header {
    justify-content: center;
  }
  .menu__title {
    padding-right: 30px;
  }
  /***** Footer *****/
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .footer__logo {
    height: 27px;
  }
  .footer__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
  }
  .footer__box--tablet-desktop {
    display: flex;
    flex-direction: row;
  }
  .footer__box__link {
    padding: 0 10px;
  }
  .footer__box__picto {
    margin-right: 5px;
  }
}
/***** Devices : Large screen *****/
@media (min-width: 1440px) {
  /*Menu*/
  .menu {
    padding: 50px 190px 0px 190px;
  }
  .menu__header {
    padding-bottom: 40px;
  }
  .order__button {
    width: 186px;
    height: 50px;
  }
}/*# sourceMappingURL=restaurant.css.map */